@media (max-width: 500px) {
  .blog-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .blog-head {
    width: auto;
    border: 2px solid black;
    padding: 1em;
  }

  .blog-about {
    width: auto;
    border: 2px solid black;
    padding: 1em;
  }

  .blog-post {
    width: auto;
    border: 2px solid black;
    padding: 1em;
  }

  .blog-foot {
    width: auto;
    border: 2px solid black;
    padding: 1em;
  }
}
